.main-header-navigation {
  font-size: 14px;
  font-family: PT Sans;
  font-weight: bold;
  color: black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.object-picture {
  float: left;
}

.object-title {
  float: left;
}

.object-score {
  float: right;
}

.index-content {
  float :left;
  width: 1200px;
  min-height: 256px;
}

.index-content-block {
  float: left;
}

.index-content-icon {
  text-align: center;
}

.index-content-title {
  text-align: center;
  font-size: 21px;
  font-family: PT Sans Bold Bold;
  font-weight: bold;
  color: black;
}

.index-content-title-text {
  text-align: center;
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: Regular;
  color: #1d1d1d;
}

.index-content-search-title {
  text-align: center;
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.index-content-search-options {
  text-align: center;
  font-size: 14px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.index-content-search-title-options-btn {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.object-details {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: white;
}

.objet-reserve {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: white;
}

.main-footer-container-hashtag {
  float: left;
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.main-footer-container-social {
  float: left;
}

.main-footer-container-logo {
  float: right;
}

.filter {
  float: left;
}

.filter:last-child {
  float: right;
}

.filter-text {
  font-size: 16px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: white;
}

.filter-item {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: white;
}

.navigation-search {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.navigation-search-method {
  font-size: 12px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: white;
}

.navigation-search-method-price {
  font-size: 12px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: #81b3d2;
  display: inline;
}

.navigation-search-method-type {
  font-size: 12px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: #white;
  display: inline;
}

.navigation-search-method-rating {
  font-size: 12px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: white;
  display: inline;
}

.object-card {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.object-card-name, .object-card-price {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: #333333;
}

.object-rating {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: #666666;

}
