.main-header-navigation {
  font-size: 14px;
  font-family: PT Sans;
  font-weight: bold;
  color: black;
}

.index-content-title {
  font-size: 21px;
  font-family: PT Sans Bold Bold;
  font-weight: bold;
  color: black;
}

.index-content-title-text {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: Regular;
  color: 1d1d1d;
}

.index-content-title-1 {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: white;
}

.index-content-title-text-1 {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: white;
}

.index-content-left-title {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.index-content-left-title-text {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: #333333;
}

.index-content-center-title {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.index-content-center-title-text {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: #333333;
}

.index-content-right-title {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.index-content-right-title-text {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: #333333;
}

.index-content-title-2 {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: white;
}

.index-content-title-text-2 {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: white;
}

.index-content-left-title-3 {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.index-content-left-title-text-3 {
  font-size: 13px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: black;
}

.index-content-center-title-4 {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.index-content-center-title-text-4 {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: black;
}

.index-content-right-title-5 {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.index-content-right-title-text-5 {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: black;
}

.index-content-title-map {
  font-size: 30px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.index-content-title-map-text {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: black;
}

.index-content-center-title-search {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: white;
}

.index-content-center-title-search-options {
  font-size: 14px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.index-content-center-title-search-options-btn {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: white;
}

.main-footer-container-hashtag {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.filter-first-addition {
  font-size: 16px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: white;
}

.filter-second-type {
  font-size: 16px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: white;
}

.filter-item {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: white;
}

.filter-third-price {
  font-size: 16px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: white;
}

.navigation-search {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.navigation-search-method {
  font-size: 12px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: white;
}

.navigation-search-method-price {
  font-size: 12px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: #81b3d2;
}

.navigation-search-method-type {
  font-size: 12px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: #white;
}

.navigation-search-method-rating {
  font-size: 12px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: white;
}

.object-card {
  font-size: 21px;
  font-family: PT Sans Bold;
  font-weight: bold;
  color: black;
}

.object-card-name, .object-card-price {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: #333333;
}

.object-rating {
  font-size: 14px;
  font-family: PT Sans Regular;
  font-weight: regular;
  color: #666666;

}
